extends ../layouts/_team.jade

block title-smaller
  | 27 Years Of Experience
block photo-team1
  img(src='/images/team/corrado.png', alt='Corrado Di Majo')
block team-name1 
  | Corrado Di Majo
block team-description1
  | Aboard all of our luxurious charter yachts, from the performance sailing yachts to the new breed of charter megayachts, there is more on offer than mouth-watering cuisine, exemplary service, diverse destinations and world-class accommodation.
block photo-team2
  img(src='/images/team/corrado.png', alt='Alessandro')
block team-name2 
  | Alessandro Ussi
block team-description2
  | Aboard all of our luxurious charter yachts, from the performance sailing yachts to the new breed of charter megayachts, there is more on offer than mouth-watering cuisine, exemplary service, diverse destinations and world-class accommodation.
