extends ../layouts/_section_intro.jade
block title 
  | Bareboat Charter
block description
  | We’re liberty providers: bareboating is being in command of your own vessel, sailing with no set schedule, free to raise and lower the anchor at your discretion and explore as many islands as you wish. The only thing you need is the most reliable broker. And sunscreen.

block explain-call
block call-to-action
  a.button(href="../pages/bareboat.html") Ask for more