extends ../layouts/_multiple_range_selector.jade

block title-smaller
.clear
    block yacht-size
      ul#yacht-size
        li.bulletlist
          div.container-img
          h2
            span.number-list
              | 1. 
            | First Title
          p.description-text
            | Aboard all of our luxurious charter yachts, from the performance sailing yachts to the new breed of charter megayachts, there is more on offer than mouth-watering cuisine, exemplary service, diverse destinations and world-class accommodation.
          block button1
        li.bulletlist
          div.container-img
          h2
            span.number-list
              | 2. 
            | Second Title
          p.description-text
            | Aboard all of our luxurious charter yachts, from the performance sailing yachts to the new breed of charter megayachts, there is more on offer than mouth-watering cuisine, exemplary service, diverse destinations and world-class accommodation.
          block button2
        li.bulletlist
          div.container-img
          h2
            span.number-list
              | 3. 
            | Third Title
          p.description-text
            | Aboard all of our luxurious charter yachts, from the performance sailing yachts to the new breed of charter megayachts, there is more on offer than mouth-watering cuisine, exemplary service, diverse destinations and world-class accommodation.
          block button3
        li.bulletlist
          div.container-img
          h2
            span.number-list
              | 4. 
            | Title
          p.description-text
            | Aboard all of our luxurious charter yachts, from the performance sailing yachts to the new breed of charter megayachts, there is more on offer than mouth-watering cuisine, exemplary service, diverse destinations and world-class accommodation.
          block button1
        li.bulletlist
          div.container-img
          h2
            span.number-list
              | 5. 
            | Title
          p.description-text
            | Aboard all of our luxurious charter yachts, from the performance sailing yachts to the new breed of charter megayachts, there is more on offer than mouth-watering cuisine, exemplary service, diverse destinations and world-class accommodation.
          block button2
        li.bulletlist
          div.container-img
          h2
            span.number-list
              | 6. 
            | Title
          p.description-text
            | Aboard all of our luxurious charter yachts, from the performance sailing yachts to the new breed of charter megayachts, there is more on offer than mouth-watering cuisine, exemplary service, diverse destinations and world-class accommodation.
          block button3
