extends ../layouts/_yacht_card.jade

block img-yacht-card
  img(src='/images/latest_yacht_charter/artemide.JPG', alt='Artemide Yacht')
block single-yacht-name
  | Maltese Falcon
block single-yacht-charter
  | € 470,00
block single-yacht-sale
  | € 32.670,00
block single-yacht-length
  | 42.00 m
block single-yacht-built
  | 2008
block single-yacht-guests
  | 10
