extends ../layouts/_yacht_card.jade

block single-yacht-name
  | Artemide
block single-yacht-charter
  | € 470,00
block single-yacht-sale
  | € 32.670,00
block single-yacht-length
  | 42.00 m
block single-yacht-built
  | 2008
block single-yacht-guests
  | 10
