extends ../layouts/_expedition_card.jade

block img-yacht-card
  img(src='/images/landing/alaska2.jpg', alt='Alaska')
block exp-destination
  | Alaska
block exp-price
  | € 970,00
block exp-guests
  | 4

