extends ../layouts/_map.jade
block external-scripts
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBl3hDHGkv8Ohrz_AY7vlWRNSB_W5Esa9M&sensor=false&extension=.js') 
  script(src="/maplabel.js") 
  
block map 
  #charter-map.map

    
