extends ../layouts/_section_intro.jade
block title 
  | Expeditions
block description
  | There’s no such thing as uncharted waters anymore, they say. But adventure at sea has not gone yet. Heading to the North Pole on a icebreaker. Scuba cruising around the Caribbean. Exploring remote reefs in the ocean. We can safely bring you to the end of the world and back.
block explain-call
block call-to-action
  a.button(href="../pages/expeditions_planning.html") Pick your expedition

