extends ../layouts/_single_expedition_page.jade

block title 
  | Alaska
block single-exp-price
  | € 970,00
block single-exp-guests
  | 4
block explain-call
block call-to-action
  a.button(href="#contact-us-modal", rel="modal:open") Enquire
