ul#filter-menu
  
  li
    a.filter(href="#")
      div.icon-filter
        img(src='../images/sprite/icon_select_yacht.svg', alt='Yacht')
      h3
        | Destination
      span
        | Maldive
  li
    a.filter(href="#")
      div.icon-filter
        img(src='../images/sprite/icon_select_yacht.svg', alt='Yacht')
      h3
        | Price Range
      span
        | 15-60K
  li
    a.filter(href="#")
      div.icon-filter
        img(src='../images/sprite/icon_select_yacht.svg', alt='Yacht')
      h3
        | Guests
      span
        | 10-20
  li
    a.filter(href="#")
      div.icon-filter
        img(src='../images/sprite/icon_select_yacht.svg', alt='Yacht')
      h3
        | Length
      span
        | 40-60 mt
  li
    a.filter(href="#")
      div.icon-filter
        img(src='../images/sprite/icon_select_yacht.svg', alt='Yacht')
      h3
        | Propulsion
      span
        | Motor
  li
    a.button(href="#") Reset
    