block section
  section.center.filter-hide.propulsion
    ul#call-to-action-menu.filter
      li
        block first-call-to-action
          block first-icon
           img.motor(src='../images/sprite/icon_motor.svg', alt='Motor')
          a.link(href="#") 
            block first-button
              | Motor
      li
        block second-call-to-action
          block second-icon
            img.sail(src='../images/sprite/icon_sail.svg', alt='Sail')
          a.link(href="#") 
            block second-button
              | Sail
      li
        block third-call-to-action
          block third-icon
           img.gulet(src='../images/sprite/icon_gulet.svg', alt='Gulet')
          a.link(href="#") 
            block third-button
              | Gulet