block section
  section.center.price-slider.filter-hide
      #slider-numbers
        p.min-guest
        p.max-guest
      .clear
      #slider-guest.slider-bar
        div.icon-guest-min
          img(src='../images/sprite/filter_guests_icon_min.svg', alt='min guests')
        div.icon-guest-max
          img(src='../images/sprite/filter_guests_icon_max.svg', alt='max guests')