block external-scripts
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBl3hDHGkv8Ohrz_AY7vlWRNSB_W5Esa9M&sensor=false&extension=.js') 
  script(src="/maplabel.js")
ul#filter-menu
  li
    a.filter(href="#")
      div.icon-filter
        img(src='../images/sprite/filter_destination_icon.svg', alt='Destination')
      h3
        | Destination
      span
        | Maldive
  li
    a.filter(href="#")
      div.icon-filter
        img(src='../images/sprite/filter_price_icon.svg', alt='Price')
      h3
        | Price Range
      span
        | 15-60K
  li
    a.filter(href="#")
      div.icon-filter
        img(src='../images/sprite/filter_guests_icon.svg', alt='Guests')
      h3
        | Guests
      span
        | 10-20
  li
    a.filter(href="#")
      div.icon-filter
        img(src='../images/sprite/filter_size_icon.svg', alt='Length')
      h3
        | Length
      span
        | 40-60 mt
  li
    a.filter(href="#")
      div.icon-filter
        img(src='../images/sprite/filter_propulsion_icon.svg', alt='Propulsion')
      h3
        | Propulsion
      span
        | Motor
  li
    a.filter(href="#")
      div.icon-filter
        img(src='../images/sprite/filter_salecharter_icon.svg', alt='Propulsion')
      h3
        | Sale / Charter
      span
        | Charter
div.filter-opened-section
  //- include _filter_length.jade
  //- include _filter_price.jade
  include _filter_salecharter.jade
  //- include _filter_map.jade
  //- include _filter_propulsion.jade
div.reset-button
  a.button(href="#") Reset

    