extends ../layouts/_section_intro.jade
block title 
  | Why Italy? Why Equinoxe?

block description
  | 270 megayachts manufactured in 2014, amounting to 40% of the global market<br />
  | 8,000 km of coastline<br />
  | 400 marinas<br />
  | 160,000 berths<br />
  | 50% of UNESCO World Heritage sites<br />
  | 1 global reaching yacht broker<br />
  | Go for the leadership. Go with the Italian specialists. Go with Equinoxe.


block explain-call
block call-to-action
  a.button(href="../pages/heritage.html") Discover Equinoxe