extends ../layouts/_section_intro.jade
block title 
  | Our Heritage
block description
  | Placeholder text Heritage. We believe that travelers don&#8217;t want to be passive tourists, so our expeditions foster active engagement.
block explain-call
block call-to-action
  a.button(href="../pages/heritage.html") Contact Us