extends ../layouts/_home.jade

block statement1
  | Owning a yacht, trading a yacht, enjoying your yacht: we’re the partner you need for doing it right.
block cta1
  | Learn more
block statement2
  | The best crewed yachts for charter and the most unforgettable sea experiences, curated in Italy.<br /> Perfect since 1986.
block cta2
  | Chart a yacht
block statement3
  | A leisure voyage to a remote island or your dream’s ultimate sea adventure, we will bring you there.<br />Right where you want to be.
block cta3
  | Pick your expedition
block statement4
  | Hundreds of destinations worldwide to choose from. The beauty of sailing a boat on your own.<br />All the freedom you can imagine. 
block cta4
  | Try it now
block statement5
  | A fabulous sea experience begins before you get on board and doesn’t end when you step out of the boat.<br />Luxury means end-to-end pleasure.
block cta5
  | Try it now
block statement6
  | We’ve been sailing the oceans for more than 35 years now. The Mediterranean is our pond.<br />We are the Italian specialists in premium sea experiences. 
block cta6
  | Ask us anything
