block section
  section#center

    .logo
      img(src='../images/sprite/logo.svg', alt='Equinoxe-Logo')
    .clear
    .main-text.home
      p
        | Da oltre 35 anni dedichiamo le nostre energie alla selezione delle imbarcazioni migliori.
    .clear
    a.button.home(href="#") View All
