extends ../layouts/_home.jade
block statement1
  | Da oltre 30 anni dedichiamo le nostre energie alla selezione delle imbarcazioni migliori
block statement2
  | Da oltre 31 anni dedichiamo le nostre energie alla selezione delle imbarcazioni migliori
block statement3
  | Da oltre 32 anni dedichiamo le nostre energie alla selezione delle imbarcazioni migliori
block statement4
  | Da oltre 33 anni dedichiamo le nostre energie alla selezione delle imbarcazioni migliori
block statement5
  | Da oltre 34 anni dedichiamo le nostre energie alla selezione delle imbarcazioni migliori
