extends ../layouts/_latest_grid.jade

block title-smaller2
  | Latest Yacht Charter:</br>—
block yacht-name1
  | Artemide
block price1
  | from € 400,00
block length1
  | 38.00 m
block built1
  | 2006
block guests1
  | 10
block yacht-name2
  | Diana
block price2
  | from € 550,00
block length2
  | 40.00 m
block built2
  | 2008
block guests2
  | 12
block yacht-name3
  | Polar Star
block price3
  | from € 600,00
block length3
  | 43.00 m
block built3
  | 2007
block guests3
  | 15