extends ../layouts/_latest_grid.jade

block title-smaller2
  | Latest Yacht In Sale:</br>—
block yacht-name1
  | SuperNova
block price1
  | from € 3.105.400,00
block length1
  | 40.00 m
block built1
  | 2007
block guests1
  | 12
block yacht-name2
  | Venere
block price2
  | from € 4.323.550,00
block length2
  | 40.00 m
block built2
  | 2010
block guests2
  | 18
block yacht-name3
  | Maltese Falcon
block price3
  | from € 5.788.600,00
block length3
  | 43.00 m
block built3
  | 2007
block guests3
  | 15
block photo1
  img(src='/images/latest_yacht_charter/artemide.JPG', alt='Artemide Yacht')
block photo2
  img(src='/images/latest_yacht_charter/artemide.JPG', alt='Artemide Yacht')
block photo3
  img(src='/images/latest_yacht_charter/artemide.JPG', alt='Artemide Yacht')