extends ../layouts/_single_yacht_page.jade
block title 
  | Maltese Falcon
block description
  | We believe that travelers don&#8217;t want to be passive tourists, so our expeditions foster active engagement.
block explain-call
block call-to-action
  a.button(href="#") Enquire