extends ../layouts/_single_yacht_page.jade
block main-photo
  img(src='/images/yachts/dionestar.jpg', alt='Dione Star Super Yacht')
block title 
  | Maltese Falcon
block single-yacht-price
  | € 470,00
block single-yacht-length
  | 41.00 m
block single-yacht-build
  | 2009
block single-yacht-guests
  | 12
block explain-call
block call-to-action
  a.button(href="#") Enquire
