extends ../layouts/_single_yacht_page.jade

block title 
  | Maltese Falcon
block single-yacht-price
  | from € 470,00
block single-yacht-length
  | 41.00 m
block single-yacht-build
  | 2009
block single-yacht-guests
  | 12
block explain-call
block call-to-action
  a.button(href="#contact-us-modal", rel="modal:open") Enquire
