extends ../layouts/_single_yacht_page.jade
block main-photo
  div(class="img-holder", data-image="/images/yachts/noheea.png")
    div.filter(style="-webkit-transform: translateZ(1px)")
block title 
  | Maltese Falcon
block single-yacht-price
  | from € 470,00
block single-yacht-length
  | 41.00 m
block single-yacht-build
  | 2009
block single-yacht-guests
  | 12
block explain-call
block call-to-action
  a.button(href="#") Enquire
