#landing-menu.subMenu
  .center
    .scroll
      ul#anchor-menu
        li
          a(href="#") Sale &#38; Purchase
        li
          a(href="#") Charter
        li
          a(href="#") Expeditions
        li
          a(href="#") Heritage