#landing-menu.subMenu
  a#simple-menu(href='#sidr') Menu
  block hmenu
    .center
      .scroll
        ul#anchor-menu
          li
            a.item#m1(data-menuanchor="yacht-charter",href="#yacht-charter") Yacht Charter
          li
            a.item#m2(data-menuanchor="sale-purchase",href="#sale-purchase") Yacht Brokerage
          li
            a.item#m3(data-menuanchor="expeditions",href="#expeditions") Expeditions
          li
            a.item#m4(data-menuanchor="bareboat",href="#bareboat") Bareboat
          li
            a.item#m5(data-menuanchor="heritage",href="#heritage") Heritage