#landing-menu.subMenu
  a#simple-menu(href='#sidr') Menu
  block hmenu
    .center
      .scroll
        ul#anchor-menu
          li
            a(data-menuanchor="yacht-charter",href="#yacht-charter") Yacht Charter
          li
            a(data-menuanchor="sale-purchase",href="#sale-purchase") Sale &#38; Purchase
          li
            a(data-menuanchor="expeditions",href="#expeditions") Expeditions
          li
            a(data-menuanchor="bareboat",href="#bareboat") Bareboat
          li
            a(data-menuanchor="heritage",href="#heritage") Heritage