#landing-menu.subMenu
  a#simple-menu(href='#sidr') Menu
  block hmenu
    .center
      .scroll
        ul#anchor-menu
          li
            a#m0(href="/pages/landing.html") Home
          li.item
            a#m1(data-menuanchor="sale-purchase",href="/pages/yacht_brokerage.html") Yacht brokerage
          li.item
            a#m2(data-menuanchor="yacht-charter",href="/pages/yacht_charter.html") Yacht charter
          li.item
            a#m3(data-menuanchor="expeditions",href="/pages/expeditions_planning.html") Expeditions
          li.item
            a#m4(data-menuanchor="bareboat",href="/pages/bareboat.html") Bareboat
          li.item
            a#m5(data-menuanchor="services",href="/pages/services.html") Land & services
          li.item
            a#m6(data-menuanchor="heritage",href="/pages/heritage.html") Heritage