#landing-menu.subMenu
  a#simple-menu(href='#sidr') Menu
  block hmenu
    .center
      .scroll
        ul#anchor-menu
          li
            a.item#m1(data-menuanchor="sale-purchase",href="#sale-purchase") Yacht brokerage
          li
            a.item#m2(data-menuanchor="yacht-charter",href="#yacht-charter") Yacht charter
          li
            a.item#m3(data-menuanchor="expeditions",href="#expeditions") Expeditions
          li
            a.item#m4(data-menuanchor="bareboat",href="#bareboat") Bareboat
          li
            a.item#m5(data-menuanchor="services",href="#land-and-services") Land & services
          li
            a.item#m6(data-menuanchor="heritage",href="#heritage") Heritage