extends ../layouts/_section_intro.jade
block title 
  | Sales & Purchase
block description
  | Placeholder text Sales & Purchase. Aboard all of our luxurious charter yachts, from the performance sailing yachts to the new breed of charter megayachts.
block explain-call
block call-to-action
  ul#call-to-action-menu-button
    li
      block first-call-to-action
        a.button(href="#")
          block first-button
            | Sale
    li
      block second-call-to-action
        a.button(href="#")
          block second-button
            | Purchase
