extends ../layouts/_section_intro.jade
block title 
  | Services
block description
  | When you are planning a vacation at sea you shouldn’t bother about hotel booking, flight connections or car rental. Just pick your dream yacht, sit back and relax. We’ll do the magic for you.
block explain-call
block call-to-action
  a.button(href="#contact-us-modal", rel="modal:open") Contact Us