#sidr
    // Your content
    a#closeMenu(href='#') close
    ul
      li
        a(href='#') Yacht</br>Charter
      li.active
        a(href='#') Yacht</br>Brokerage
      li
        a(href='#') Yacht</br>Purchase
      li
        a(href='#') Expedition</br>Planning
      li
        a(href='#') Services
      li
        a(href='#') Heritage
      li
        a.enquire-button(href='#') Enquire