#sidr
    // Your content
    a#closeMenu(href='#')
      img(src='../images/sprite/hamburger_close.svg', alt='close')
    div#side-menu-logo
      img(src='../images/sprite/logo.svg', alt='Equinoxe-Logo')
    ul
      li
        a(href='../pages/landing.html') Home
      li
        a(href='../pages/yacht_charter.html') Yacht</br>Charter
      li.active
        a(href='../pages/yacht_brokerage.html') Yacht</br>Brokerage
      li
        a(href='../pages/yacht_purchase.html') Yacht</br>Purchase
      li
        a(href='../pages/bareboat.html') Bareboat
      li
        a(href='../pages/expeditions_planning.html') Expedition</br>Planning
      li
        a(href='../pages/services.html') Services
      li
        a(href='../pages/heritage.html') Heritage
      li
        a.enquire-button(href="#enquire-modal", rel="modal:open") Enquire