extends ../layouts/_multiple_range_selector.jade

block title-smaller
  | Equinoxe Team:
.clear
    block yacht-size
      ul#yacht-size.full-team
        li
          div.container-img
            img(src='/images/team/corrado.png', alt='Corrado Di Majo')
          h2
            | Gene Gnocchi
          p.description-text
            | Marketing
        li
          div.container-img
            img(src='/images/team/corrado.png', alt='Corrado Di Majo')
          h2 
            | Barbra Streisand
          p.description-text
            | Account
        li
          div.container-img
            img(src='/images/team/corrado.png', alt='Corrado Di Majo')
          h2 
            | Morgan Freeman
          p.description-text
            | God
        li
          div.container-img
            img(src='/images/team/corrado.png', alt='Corrado Di Majo')
          h2
            | Barbra Straisand
          p.description-text
            | Account
        li
          div.container-img
            img(src='/images/team/corrado.png', alt='Corrado Di Majo')
          h2 
            | Tilda Swinton
          p.description-text
            | Sales Manager
        li
          div.container-img
            img(src='/images/team/corrado.png', alt='Corrado Di Majo')
          h2 
            | Danny De Vito
          p.description-text
            | Chief
        li
          div.container-img
            img(src='/images/team/corrado.png', alt='Corrado Di Majo')
          h2 
            | Barbra Streisand
          p.description-text
            | Account
        li
          div.container-img
            img(src='/images/team/corrado.png', alt='Corrado Di Majo')
          h2 
            | Morgan Freeman
          p.description-text
            | God
        li
          div.container-img
            img(src='/images/team/corrado.png', alt='Corrado Di Majo')
          h2
            | Tony Montana
          p.description-text
            | Dealer
        li
          div.container-img
            img(src='/images/team/corrado.png', alt='Corrado Di Majo')
          h2 
            | Tilda Swinton
          p.description-text
            | Sales Manager
        li
          div.container-img
            img(src='/images/team/corrado.png', alt='Corrado Di Majo')
          h2 
            | Danny De Vito
          p.description-text
            | Chief
