extends ../layouts/_multiple_range_selector.jade

block title-smaller
  | Equinoxe Team:
.clear
    block yacht-size
      ul#yacht-size.full-team
        li
          div.container-img
            img(src='/images/team/corrado.png', alt='Corrado Di Majo')
          h2
            | Mario Rossi
          p.description-text
            | Marketing
        li
          div.container-img
            img(src='/images/team/corrado.png', alt='Corrado Di Majo')
          h2 
            | Sara Bianchi
          p.description-text
            | Account
        li
          div.container-img
            img(src='/images/team/corrado.png', alt='Corrado Di Majo')
          h2 
            | Alessandro Costa 
          p.description-text
            | Sales Manager
        li
          div.container-img
            img(src='/images/team/corrado.png', alt='Corrado Di Majo')
          h2
            | Elena De Rossi
          p.description-text
            | Account
        li
          div.container-img
            img(src='/images/team/corrado.png', alt='Corrado Di Majo')
          h2 
            | Dario Verdi
          p.description-text
            | Sales Manager
        li
          div.container-img
            img(src='/images/team/corrado.png', alt='Corrado Di Majo')
          h2 
            | Cristina Giusti
          p.description-text
            | Marketing
        li
          div.container-img
            img(src='/images/team/corrado.png', alt='Corrado Di Majo')
          h2 
            | Alessandro Costa 
          p.description-text
            | Account
        li
          div.container-img
            img(src='/images/team/corrado.png', alt='Corrado Di Majo')
          h2 
            | Elena De Rossi
          p.description-text
            | Account
        li
          div.container-img
            img(src='/images/team/corrado.png', alt='Corrado Di Majo')
          h2
            | Sara Bianchi
          p.description-text
            | Marketing
        li
          div.container-img
            img(src='/images/team/corrado.png', alt='Corrado Di Majo')
          h2 
            | Mario Rossi
          p.description-text
            | Sales Manager
        li
          div.container-img
            img(src='/images/team/corrado.png', alt='Corrado Di Majo')
          h2 
            | Cristina Giusti
          p.description-text
            | Account
