extends ../layouts/_multiple_range_selector.jade

block title-smaller
  | Why Choosing Us:
.clear
    block yacht-size
      ul#yacht-size
        li
          div.container-img
            img.mega-yacht.img-spacer(src='../images/sprite/icon_select_yacht.svg', alt='Mega Yacht')
            img.yacht(src='../images/sprite/icon_select_yacht.svg', alt='Yacht')
          h2 Simpatia
          p
            | Up to 24.00 m
          a.button(href="#") Select
        li
          div.container-img
            img.mega-yacht.img-spacer(src='../images/sprite/icon_select_yacht.svg', alt='Mega Yacht')
            img.super-yacht(src='../images/sprite/icon_select_yacht.svg', alt='Super Yacht')
          h2 Super Simpatia
          p
            | 24.00 m to 40.00 m
          a.button(href="#") Select
        li
          div.container-img
            img.mega-yacht(src='../images/sprite/icon_select_yacht.svg', alt='Mega Yacht')
          h2 Mega Simpatia
          p
            | Over 40.00 m
          a.button(href="#") Select
