extends ../layouts/_section_intro.jade

block title 
  | Yacht Charter
block description
  | Whether you charter with Equinoxe a sleek sailing yacht, a glamorous motoryacht or a charming gulet, as a veteran seafarer or as a first-timer, longing for fun and leisure or for bold emotions, you will discover a whole different concept of holidays at sea. Come experience yachting the Italian 
block explain-call-text
  | Pick the style that fits you:
block first-call-to-action
  block first-icon
   img.motor(src='../images/sprite/icon_motor.svg', alt='Motor')
  a.link(href="#") 
    block first-button
      | Power
block second-call-to-action
  block second-icon
    img.sail(src='../images/sprite/icon_sail.svg', alt='Sail')
  a.link(href="#") 
    block second-button
      | Sail
block third-call-to-action
  block third-icon
   img.gulet(src='../images/sprite/gulet_icon.svg', alt='Gulet')
  a.link(href="#") 
    block third-button
      | Gulets