extends ../layouts/_section_intro.jade

block title 
  | Yacht Charter
block description
  | Aboard all of our luxurious charter yachts, from the performance sailing yachts to the new breed of charter megayachts, there is more on offer than mouth-watering cuisine, exemplary service, diverse destinations and world-class accommodation.