block section
  section.center
    .main-text
      h1.smaller 
        block title-smaller
          | For Every Yacht Experience:
    .clear
    block yacht-size
      ul#yacht-size
        li
          div.container-img
            img.mega-yacht(src='../images/sprite/icon_select_yacht.svg', alt='Mega Yacht')
          h2 Mega Yacht
          p
            | Over 40.00 m
          block button3
            a.button(href="#") Select