block section
  section.center
    .main-text
      h1.smaller 
        block title-smaller
          | For Every Yacht Experience:
    .clear
    block yacht-size
      ul#yacht-size
        li
          div.container-img
            img.mega-yacht.img-spacer(src='../images/sprite/icon_select_yacht.svg', alt='Mega Yacht')
            img.yacht(src='../images/sprite/icon_select_yacht.svg', alt='Yacht')
          h2 Yacht
          p
            | Up to 24.00 m
          block button1
            a.button(href="#") Select