block section
  section.center
    .main-text
      h1 
        block title
          | Yachts
      p
        block description
          | description paragraph
    block explain-call
    ul#yachts-list-grid
      include _card_yacht.jade
      include _card_yacht.jade
      include _card_yacht.jade
      include _card_yacht.jade
      include _card_yacht.jade
      include _card_yacht.jade
      include _card_yacht.jade
      include _card_yacht.jade
      include _card_yacht.jade
      include _card_yacht.jade
      include _card_yacht.jade
      include _card_yacht.jade