extends ../layouts/_section_intro.jade
block title 
  | Yacht Brokerage
block description
  | Owning a yacht, trading a yacht, enjoying your yacht: we’re the partner you need for doing it right.
block explain-call
block call-to-action
  a.button(href="#contact-us-modal", rel="modal:open") Sell Yacht