block section
  section.center
    .main-text
      h1 
        block title
          | Yachts
      p
        block description
    block explain-call
    include _filter.jade
    .clear
    ul#yachts-list-grid
      include _card_yacht.jade
      include _card_yacht.jade
      include _card_yacht.jade
      include _card_yacht.jade
      include _card_yacht.jade
      include _card_yacht.jade
      include _card_yacht.jade
      include _card_yacht.jade
      include _card_yacht.jade
      include _card_yacht.jade
      include _card_yacht.jade
      include _card_yacht.jade