block section
  section#center
    ul#yachts-list-grid
      include _card_yacht.jade
      include _card_yacht.jade
      include _card_yacht.jade
      include _card_yacht.jade
      include _card_yacht.jade
      include _card_yacht.jade
      include _card_yacht.jade
      include _card_yacht.jade
      include _card_yacht.jade
      include _card_yacht.jade
      include _card_yacht.jade
      include _card_yacht.jade
    