extends ../layouts/_section_intro.jade

block title 
  | Yacht Charter
block description
  | Aboard all of our luxurious charter yachts, from the performance sailing yachts to the new breed of charter megayachts, there is more on offer than mouth-watering cuisine, exemplary service, diverse destinations and world-class accommodation.
block explain-call-text
  | Choose your lifestyle:
block first-call-to-action
  block first-icon
   img.motor(src='../images/sprite/icon_motor.svg', alt='Motor')
  a.link(href="#") 
    block first-button
      | Motor
block second-call-to-action
  block second-icon
    img.sail(src='../images/sprite/icon_sail.svg', alt='Sail')
  a.link(href="#") 
    block second-button
      | Sail
block third-call-to-action
  block third-icon
   img.gulet(src='../images/sprite/icon_gulet.svg', alt='Gulet')
  a.link(href="#") 
    block third-button
      | Gulet