.fp-controlArrow
    border-style none
    
    
.fp-controlArrow.fp-next
    background url("/images/sprite/next_arrow.svg")
    border-width 0
    border-color #fff
    width 42px 
    height 42px
.fp-controlArrow.fp-prev
    background url("/images/sprite/prev_arrow.svg")
    border-width 0
    border-color #fff
    width 42px 
    height 42px
    
.fp-controlArrow
    
    width 42px 
    height 42px 
    border-radius 0
    padding 0 
    margin 0 

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span 
    background: #333
    
#fp-nav ul li a span, .fp-slidesNav ul li a span 
    top: 2px
    left: 2px
    width: 8px
    height: 8px
    border: 1px solid #000
    background: rgba(0, 0, 0, 0)
    border-radius: 50%
    position: absolute
    z-index: 1
    

