@import 'jeet'
@import url('http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,500')
@import 'type-utils'

support-for-ie = true
base-font-size = 100%

yellow = #F4BB3B
navy-blue = #103158

scale = 0 450px 600px 768px 1080px 1300px

placeholder-color(color)
    &::-webkit-input-placeholder 
       color color !important
    &:-moz-placeholder  /* Firefox 18- */
       color color !important
    &::-moz-placeholder  /* Firefox 19+ */
       color color !important
    &:-ms-input-placeholder  
       color color !important
    

// http://paulirish.com/2012/box-sizing-border-box-ftw/
* { box-sizing: border-box; }

html,
body
    height 100%
    width 100%
    background-color navy-blue
    margin 0

body,
input
    font-family "Alegreya Sans", "Helvetica Neue", sans-serif
    font-weight 300
    text-rendering optimizeLegibility
    section.center
        
        margin 0 auto
        position relative   
     div.clear
         width 0
         height 0
         clear both
         display block
    ul
        list-style-type none
        padding 0
        margin 0
        li
            margin 0
            padding 0
    .uppercase
        text-transform uppercase
div#landing-menu
    position absolute
    width: 100%
    z-index 3
    top 20px
    .center
        center(1400px, 20px)
        width: 100%
        overflow-x scroll
        z-index 4
        -webkit-overflow-scrolling: touch
        white-space nowrap
        position relative
        height 40px
        .scroll
            width 200%
            position relative
            height 40px
        ul 
            display block
            
            li
                display inline-block