@import 'jeet'
@import url('http://fonts.googleapis.com/css?family=Alegreya+Sans')
@import 'type-utils'

support-for-ie = true
base-font-size = 100%

yellow = #F4BB3B
navy-blue = #103158

scale = 0 450px 600px 768px 1080px 1300px

// http://paulirish.com/2012/box-sizing-border-box-ftw/
* { box-sizing: border-box; }

html,
body
    height 100%
    width 100%
    background-color navy-blue

body,
input
    font-family "Alegreya Sans", "Helvetica Neue", sans-serif
    font-weight 300
    text-rendering optimizeLegibility
    section#center
        
        margin 0 auto
        position relative   
     div.clear
         width 0
         height 0
         clear both
         display block
    ul
        list-style-type none
        padding 0
        margin 0
        li
            margin 0
            padding 0
    .uppercase
        text-transform uppercase