section.center.price-slider, section.center.sale-charter, section.center.propulsion
  padding-left 0 !important
  padding-right 0 !important
section.center.sale-charter
  width 80%
  height auto
  position relative
  top 50%
  margin-top -65px
  a#sale, a#charter
    left 0
    width 100%
    text-align center
    position relative
    display inline-block
    margin 0 auto
    font-size rem(40px)
    line-height rem(40px)
    text-transform uppercase
  a#sale
    margin-bottom -2px
section.center.propulsion
  top 50%
  margin-top -65px
section.center
  ul#yacht-size.filter
    margin 0
    margin-top 15px
    width 100%
    max-height 400px
    left 0
    li
      text-align center !important
      div.container-img
        height 214px !important
        position relative
        overflow hidden
        img.yacht
          left 29%
          height 55%
          width auto
          position absolute
          bottom 0
        img.super-yacht
          left 18%
          height 80%
          width auto
          position absolute
          bottom 0
        img.mega-yacht
          left 10%
          height 100%
          width auto
          position absolute
          bottom 0
  ul#call-to-action-menu.filter
    margin 0
    // margin-top 19%
    width 100%
    max-height 400px
    left 0
    li
      width 33.33%
      margin 0
      img.motor
        width 34% !important
      img.sail
        width 21.6% !important
      img.gulet
        width 26.9% !important
        
  div#slider, div#slider-numbers
    max-width 80%
    margin 0 auto
  div#slider-numbers
    margin-top 180px
    p
      position relative
      margin 0 0 10px 0
      font-size rem(25px)
      line-height rem(25px)
      text-transform uppercase
    p.min-price
      float left
    p.max-price
      float right
      text-align right
  div#slider
    .ui-widget-header
      background yellow

+above(900px)
  section.center.sale-charter
    width 80%
    top 50%
    margin-top -35px
    a#sale, a#charter
      width 50%
    a#sale
      margin-bottom 0
      margin-right -2px


