section.center
  ul#yacht-size.filter
    margin 0
    margin-top 15px
    width 100%
    max-height 400px
    left 0
    li
      text-align center !important
      div.container-img
        img.yacht
          width 42%
          left 29%
          bottom -3.7%
        img.super-yacht
          width 58%
          left 21%
        img.mega-yacht
          width 78%
          left -2%
        