.modal
  width: 800px
  background: yellow
  padding 30px 60px
  border-radius 0
  box-shadow 0
  p
    font-family "Alegreya Sans", "Helvetica Neue", sans-serif
    font-size: 15px
    color: #fff

.modal a.close-modal
  position: absolute;
  top: 18px;
  right: 18px;
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background url("../images/modal/hamburger_close.svg") no-repeat 0 0


.modal-spinner 
  display: none;
  width: 64px;
  height: 64px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -32px;
  margin-top: -32px;
  background url("../images/modal/spinner.gif") #111 no-repeat center center
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
 
.jquery-modal.blocker
  background navy-blue !important