#slide1
	background-image url("/images/landing/vela2.jpg")
#slide5
	background-image url("/images/landing/vela1.jpg")
#slide10
	background-image url("/images/landing/alaska4.jpg")
#slide12
	background-image url("/images/landing/patagonia.jpg")
#slide14
	background-image url("/images/landing/island.jpg")