#slide1
	background-image url("/images/landing/charter.jpg")
#slide5
	background-image url("/images/landing/charter2.jpg")
#slide10
	background-image url("/images/landing/alaska4.jpg")
#slide12
	background-image url("/images/landing/bareboat.jpg")
#slide14
	background-image url("/images/landing/heritage.jpg")