#slide1
	background-image url("/images/landing/DIONE_STAR_10OTT2014_6763.jpg")
#slide5
	background-image url("/images/landing/oriz_brokerage.jpg")
#slide10
	background-image url("/images/landing/oriz_expedition.jpg")
#slide12
	background-image url("/images/landing/bareboat.jpg")
#slide14
	background-image url("/images/landing/oriz_heritage.jpg")
	
/* slideshow single yacht page */	
#slide_sy_1
	background-image url("/images/landing/alaska.jpg")
#slide_sy_2
	background-image url("/images/landing/alaska2.jpg")
#slide_sy_3
	background-image url("/images/landing/alaska3.jpg")
#slide_sy_4
	background-image url("/images/landing/alaska4.jpg")
#slide_sy_5
	background-image url("/images/landing/heritage.jpg")
#slide_sy_6
	background-image url("/images/landing/charter.jpg")
#slide_sy_7
	background-image url("/images/landing/desert1.jpg")
#slide_sy_8
	background-image url("/images/landing/desert2.jpg")

/* slideshow single expedition page */	
#slide_se_1
	background-image url("/images/landing/alaska4.jpg")
#slide_se_2
	background-image url("/images/landing/alaska3.jpg")
#slide_se_3
	background-image url("/images/landing/alaska2.jpg")
#slide_se_4
	background-image url("/images/landing/alaska.jpg")
