@import '_base'
@import 'nib'

@import '_side_menu'
@import '_arrows'

#simple-menu
    z-index 9999
    position relative
    
.imageHolder
    img
        bottom 0 
    div.filter
        background-color navy-blue
        opacity(0.3)
        position absolute
        top 0
        left 0
        right 0
        bottom 0
div#landing-menu 
     position fixed
     top 0
     left 0
     right 0
     height 60px
     div.center
         top 20px
    ul#anchor-menu
        li
            margin-right: 35px
            text-align left !important
        a
            outline 0
            font-family "Alegreya Sans", "Helvetica Neue", sans-serif
            font-weight 300
            text-rendering optimizeLegibility
            color white
            font-size 15px
            line-height 15px
            letter-spacing 1px
            text-transform uppercase
            text-decoration none
            &.active, &:hover, &:active
                color yellow 
            &.active

                text-decoration underline  
  
div.bg-img-slide

    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;


a#simple-menu
    font-family "Alegreya Sans", "Helvetica Neue", sans-serif
    font-weight 300
    text-rendering optimizeLegibility
    color white
    font-size 15px
    line-height 15px
    letter-spacing 1px
    text-align center
    text-transform uppercase
    text-decoration none
    padding 0
    margin 0
    position fixed
    z-index 999
    top 0
    left 0
    padding 22px
    
 .fast-hide  
    opacity 0
    transition(opacity, 0)  
.hide  
    opacity 0
    transition(opacity, 1s)

.show 
    opacity 1
    transition(opacity, 1s)

   
a#simple-menu:hover
    transition(background-color, .5s)
    background-color yellow
a#closeMenu
    margin 0
    position relative
    top 20px
    left 121px
a#closeMenu:hover
    opacity 0.6
    
    
section#center
    z-index 2
    padding 0 20px
    div.logo
            margin-top 100px
            column(8/12)
            shift(2/12)
            img
                width 100%
    h1, h2, h3, h4, p, a, ul, li
        color white
        letter-spacing 0.8px
    h1
        font-weight bold
        font-size rem(40px)
        line-height rem(40px)
        margin 0 0 23px 0
    h1.smaller
        font-size rem(25px)
        line-height rem(25px)
    h1.smaller2
        font-size rem(18px)
        line-height rem(18px)
        text-transform uppercase
        margin-bottom 50px
        text-align center
    h2.main-title
        text-transform none !important
        font-size rem(30px) !important
        line-height rem(31px) !important
        margin-bottom 20px !important
    p
        
        font-size rem(16px)
        line-height rem(23px)
        margin 0
        margin-bottom 10px
    a
        text-decoration none
        font-size rem(16px)
        line-height rem(20px)
    ul.vertical-list
        width 100% !important
        margin-bottom 20px !important
        li
            width 100% !important
            font-size rem(16px)
            line-height rem(20px)
    p.call-to-action
        column(12/12)
        text-transform uppercase
        font-style italic
        margin-bottom 30px

    ul#call-to-action-menu-button
        column(12/12)
        list-style-type none
        padding 0
        li 
            column(12/12)
            text-align center !important
            margin-bottom 12px
            a
                width 100%
                left 0
    ul#call-to-action-menu
        column(12/12)
        list-style-type none
        padding 0
        li
            column(4/12)
            text-align center !important
            img
                margin-bottom 15px
            img.motor
                width 50%
            img.sail
                width 32%
            img.gulet
                width 39%
                position relative
                left 5%
        a.link
            text-transform uppercase
            text-decoration underline
            font-size rem(16px)
            line-height rem(23px)
            display block
            &.link:hover, &:active
                color yellow
            &:visited
                opacity 0.5
    ul#yacht-size, ul#latest-yachts, ul#yachts-list-grid
        column(12/12)
        list-style-type none
        padding 0
        margin-top -80px
        text-align center !important
        li
            position relative
            text-align center !important
            div.container-img
                width 100%
                height auto
                position relative
                img.yacht
                    width 60%
                    position absolute
                    bottom 0
                    left 22%
                img.super-yacht
                    width 80%
                    position absolute
                    bottom 0
                    left 12%
                img.mega-yacht
                    width 100%
                    position relative
                    left -2%
                    bottom -6px
                img.mega-yacht.img-spacer
                    opacity 0
                    left 0
            h2
                span.number-list
                    display block
                    color yellow
                    font-size rem(95px)
                    line-height rem(95px)
            div.container-img.team-members
                img
                    max-width 50%
                    margin-top 30px
            h2
                margin 25px 0 5px 0
                font-size rem(25px)
                line-height rem(25px)
                text-transform uppercase
            p
                margin 0 0 20px 0
                font-size rem(16px)
                line-height rem(20px)
            p.description-text
                font-weight lighter
                margin-top 30px
            a.button
                    width 70%
                    margin 0
                    padding-left 0
                    padding-right 0
                    text-align center
                    text-transform uppercase
                    left 0
    ul#yachts-list-grid
        margin-top 60px
        a.card
            column(12/12)
        div.container-yachtcard-img
            position relative
            width 100%
            height auto
            overflow hidden
            img
                position relative
                width 100%
                height auto
        h3.yacht-name
            font-size rem(30px)
            line-height rem(30px)
            margin 5px 0 15px 0
            padding-left 20px
            padding-right -20px
        li
            column(12/12)
            text-align left !important
            margin-bottom 40px
            background-color #183d79
            border-radius 2px
            // border 1px solid #0d2244
            ul.yacht-specs
                position relative
                padding-left 20px
                padding-right -20px
                li
                    padding-left 100px
                    margin-bottom 0
                    background-color transparent
                    // border none
                    span
                        text-transform uppercase
                        position absolute
                        left 0
                li:last-child
                    padding-bottom 15px !important
        li:hover
            background-color yellow
            // border 1px solid #0d2344
            div.container-yachtcard-img
                img
                    opacity 0.7
                    
    ul#yacht-size.full-team
        margin-top 0 !important
        li
            margin-bottom 10px
            h2
                margin-top 0
                font-size 20px
                line-height 20px
            p
                margin-top 5px
            div.container-img
                img
                    max-width 60px
                    position relative
                    margin-bottom 5px
                     
 
    
        
    div.main-text
        column(12/12)
        margin-top 100px
        margin-bottom 40px
        // background #333333
    div.main-text.home
        margin-top 40px
        text-align center
        p
            font-size rem(19px)
            line-height rem(26px)
    a.button
        position relative
        clear both
        display inline-block
        margin 0
        padding 15px 50px
        border 2px solid yellow
    a.button:hover
        background-color yellow
    a.button.home
        position relative
        left 50%
        margin-left -80px
    div.quote
        column(12/12)
        margin-top 100px
        p
            font-size rem(26px)
            line-height rem(36px)
        p.author
            font-size rem(18px)
            line-height rem(21px)
            margin-top 25px
    ul#single-yacht-specs
        li
            font-size rem(16px)
            line-height rem(16px)
            margin-bottom 3px
            span
                font-weight bold
                text-transform uppercase
                padding-right 10px
    div#plain-color-background
        background-color navy-blue
        position relative
        display inline-block
        height auto
        padding 0
        margin 0
        margin-top 40px
    div#container-other-specs
        column(12/12)
        padding-top 40px
        div#other-specs
            column(12/12)
        div#other-description
            column(12/12)
    div#other-specs
        margin-bottom 50px
        ul.other-specs-list
            font-size rem(16px)
            line-height rem(21px)
            font-weight 300 !important
            margin-bottom 40px
            padding-top 5px
            h3
                font-size rem(28px)
                line-height rem(29px)
                margin 0
                margin-bottom 18px
            li span
                text-transform uppercase
                padding-right 7px
    div#other-description
        div.description-info
            margin-bottom 80px
            p
                font-size rem(20px)
                line-height rem(26px)
                font-weight 300 !important
                margin 0
                margin-bottom 25px
                text-indent 25px
            h2
                font-size rem(34px)
                line-height rem(36px)
                margin 0
                margin-bottom 40px
        
div.main-photo
    position absolute
    top 0
    left 0
    width 100%
    //max-height 600px
    //overflow hidden
    // img
    //     position relative
    //     bottom 0
    //     width 100%
    //     max-width 100%


+above(450px)
    div#landing-menu
       
        center(100%, 80px)
        
        .center
            overflow hidden
            padding 0
            .scroll
                width 100%
            ul
                display inline-block
    section#center
        center(100%, 80px) 
        div.logo
            margin-top 100px
+above(600px)
    div#landing-menu
        center(700px, 80px)  
    section#center
        center(700px, 80px)
        div.main-text.home
            margin-top 50px
        div.logo
            margin-top 135px
            column(6/12)
            shift(3/12)
        ul#call-to-action-menu-button
            column(12/12)
            li 
                column(6/12)
                margin-bottom 0
                
        ul#yachts-list-grid
            column(12/12)
            a.card
                column(6/12,cycle:2)
            li
                column(6/6)
                ul.yacht-specs
                    column(6/6)
                    li
                        column(6/6)
        

+above(768px)
    div#landing-menu
        center(1400px, 0px)
        ul#anchor-menu
            column(8/12)
            shift(2/12)
            li
                margin-right: 45px
            
    section#center.latest-grid
        position absolute
        top 60px !important
    section#center
        center(1400px, 0px)
        div.main-text.home
            margin-top 60px
            shift(3/12)
        div.logo
            // margin-top 150px
            column(4/12)
            shift(4/12)
        h1
            font-size rem(65px)
            line-height rem(65px)
        h1.smaller
            font-size rem(32px)
            line-height rem(32px)
        h1.smaller2
            text-align left
        ul#anchor-menu
            column(8/12)
            shift(2/12)

        ul#call-to-action-menu-button
            column(6/12)
            shift (2/12)
            li 
                column(3/6)
                margin-bottom 0
        ul#call-to-action-menu
            column(6/12)
            shift(2/12)
            li
                column(2/6)
        div.main-text
            column(6/12)
            shift(2/12)
        div.main-text.left
            column(4/12)
            shift(0/12)
            margin-left 40px
        a.button
            shift(2/12)
        p.call-to-action
            column(6/12)
            shift(2/12)
        div.quote
            column(8/12)
            shift(2/12)
            p
                font-size rem(37px)
                line-height rem(45px)
            p.author
                font-size rem(20px)
                line-height rem(23px)
        ul#yacht-size, ul#latest-yachts, ul#yachts-list-grid
            column(9/12)
            shift(2/12)
            text-align left !important
            margin-top -60px
            li.team
                column(4/9)
            li.team.second-column
                shift(1/9)  
            li
                column(3/9)
                text-align left !important
                div.container-img
                    img.yacht
                        bottom 0
                        left -2%
                    img.super-yacht
                        bottom 0
                        left -6%
                    img.mega-yacht
                        left -10%
                        bottom -6px
            h2
                margin 25px 0 0 0
                text-transform uppercase
            a.button
                    width 70%
                    margin 0
                    padding-left 0
                    padding-right 0
                    text-align center
                    text-transform uppercase
                    left 0
        ul#yachts-list-grid
            margin-top 60px
            column(9/12)
            shift(2/12)
            a.card
               column(4/9,cycle:2)
               float left !important
            li
                column(4/4) 
                ul.yacht-specs
                    column(4/4)
                    li
                        column(4/4)
        ul#yacht-size.full-team
            column(9/12)
            shift(2/12)
            li
                column(3/9,cycle:3)
                padding-left 80px !important
                div.container-img
                    img
                        max-width 60px
                        position absolute
                        left -80px
                        top 0
            
        div#plain-color-background
            margin-top 40px
  
        div#container-other-specs
            column(9/12)
            shift(2/12)
            padding-top 60px
            div#other-specs
                column(4/9)
            div#other-description
                column(5/9)
        div#other-specs
            padding-right 20px
            ul.other-specs-list
                margin-bottom 40px
                padding-top 5px
                h3
                    margin-bottom 17px
        div#other-description
            div.description-info
                margin-bottom 120px
                p
                    margin-bottom 25px
                h2
                    margin-bottom 40px
            
                
                    
                    

        ul#latest-yachts
            column(12/12)
            shift(0/12)
            margin-left 40px
            li
                column(4/12)
    ul#latest-yachts-imgbackground
        position relative
        width 100%
        height 100%
        z-index -3
        top 0 !important
        li
            position relative
            height 100%
            top 0 
            float left
            overflow: hidden
            width 33.3%
            img
                position absolute
                width auto
                opacity 0.6
               
                
        // li#latest1
        //     background-color #999999
        // li#latest2
        //     background-color #666666
        // li#latest3
        //     background-color #333333
            
+above(900px)
    section#center
        ul#yachts-list-grid
            margin-top 60px
            column(9/12)
            shift(2/12)
            a.card
               column(3/9,uncycle:2,cycle:3) 
            li
                column(3/3) 
                ul.yacht-specs
                    column(3/3)
                    li
                        column(3/3)      
        
+above(1080px)
    section#center.latest-grid
        top 70px !important
    section#center
        h1
            font-size rem(85px)
            line-height rem(85px)
        h1.smaller
            font-size rem(43px)
            line-height rem(43px)
        p
            font-size rem(20px)
            line-height rem(28px)
        h2.main-title
            font-size rem(40px) !important
            line-height rem(42px) !important
        h1.smaller2
            font-size rem(22px)
            line-height rem(22px)
        ul#call-to-action-menu
            a
                font-size rem(20px)
                line-height rem(28px)
        div.main-text.home
            margin-top 70px
            p
                font-size rem(23px)
                line-height rem(31px)
        div.quote
            p
                font-size rem(50px)
                line-height rem(58px)
            p.author
                font-size rem(23px)
                line-height rem(26px)
        ul#latest-yachts
            column(12/12)
            shift(0/12)
            margin-left 40px
            li
                column(4/12)
        div#plain-color-background
            margin-top 100px
        div#container-other-specs
            column(8/12)
            shift(2/12)
            padding-top 100px
            div#other-specs
                column(3/8)
            div#other-description
                column(5/8)
        div#other-specs
            padding-right 20px
            ul.other-specs-list
                margin-bottom 40px
                padding-top 5px
                h3
                    margin-bottom 17px
        div#other-description
            div.description-info
                margin-bottom 120px
                p
                    margin-bottom 25px
                h2
                    margin-bottom 40px

+above(1300px)
    section#center.latest-grid
        top 80px !important
    section#center
        div.logo
            // margin-top 170px
            column(4/12)
            shift(4/12)
        h1
            font-size rem(115px)
            line-height rem(115px)
        h1.smaller
            font-size rem(63px)
            line-height rem(63px)
        p
            font-size rem(26px)
            line-height rem(33px)
        div.main-text.home
            margin-top 80px
            p
                font-size rem(29px)
                line-height rem(37px)
        ul#call-to-action-menu
            a
                font-size rem(26px)
                line-height rem(33px)
        div.quote
            p
                font-size rem(68px)
                line-height rem(73px)
            p.author
                font-size rem(30px)
                line-height rem(33px)
    ul#single-yacht-specs
        li
            display inline
            margin-right 27px
