block section
  section.center
    .logo
      img(src='../images/sprite/logo.svg', alt='Equinoxe-Logo')
    .clear
    .main-text.home
      p
        block statement
        | the statement
    .clear
    a.button.home(href="../pages/yachts.html") View All
  div.hslide#hslide1.bg-img-slide(style="background-image:url('/images/landing/alaska.jpg')")
  div.hslide#hslide2.bg-img-slide(style="background-image:url('/images/landing/pool.jpg')")
  div.hslide#hslide3.bg-img-slide(style="background-image:url('/images/landing/patagonia.jpg')")
  div.hslide#hslide4.bg-img-slide(style="background-image:url('/images/landing/vela2.jpg')")
  div.hslide#hslide5.bg-img-slide(style="background-image:url('/images/landing/fish.jpg')")
