block section
  section#center
    .logo
      img(src='../images/sprite/logo.svg', alt='Equinoxe-Logo')
    .clear
    .main-text.home
      p
        block statement
        | the statement
    .clear
    a.button.home(href="#") View All
  div#bg-img-slide(style="background-image:url('/images/landing/home.jpg')")
