block section
  section#center.latest-grid
    .main-text.left
      h1.smaller2
        block title-smaller2
          | Title:</br>—
    .clear
    ul#latest-yachts
      li
        h2.main-title
          block yacht-name1
            | Name
        ul.vertical-list
          li
            | <span class="uppercase">Charter:</span> 
            block price1
              | Price
          li
            | <span class="uppercase">Length:</span> 
            block length1
              | Length
          li
            | <span class="uppercase">Built:</span> 
            block built1
              | Year
          li
            | <span class="uppercase">Guests:</span> 
            block guests1
              | Number
          .clear
        a.button(href="#") Discover
      li
        h2.main-title
          block yacht-name2
            | Name
        ul.vertical-list
          li
            | <span class="uppercase">Charter:</span> 
            block price2
              | Price
          li
            | <span class="uppercase">Length:</span> 
            block length2
              | Length
          li
            | <span class="uppercase">Built:</span> 
            block built2
              | Year
          li
            | <span class="uppercase">Guests:</span> 
            block guests2
              | Number
          .clear
        a.button(href="#") Discover
      li
        h2.main-title
          block yacht-name3
            | Name
        ul.vertical-list
          li
            | <span class="uppercase">Charter:</span> 
            block price3
              | Price
          li
            | <span class="uppercase">Length:</span> 
            block length3
              | Length
          li
            | <span class="uppercase">Built:</span> 
            block built3
              | Year
          li
            | <span class="uppercase">Guests:</span> 
            block guests3
              | Number
          .clear
        a.button(href="#") Discover
  ul#latest-yachts-imgbackground
    li#latest1
      img(src='/images/latest_yacht_charter/artemide.JPG', alt='Artemide Yacht')
    li#latest2
    li#latest3
