block section
  section#center
    
    .main-text
      h1 
        block title
          | The title
      p
        block description
          | the description
    p.call-to-action
        | Choose your lifestyle:
    .clear
    block call-to-action
      ul#call-to-action-menu
        li
          img.motor(src='../images/sprite/icon_motor.svg', alt='Motor')
          a(href="#") Motor
        li
          img.sail(src='../images/sprite/icon_sail.svg', alt='Sail')
          a(href="#") Sail
        li
          img.gulet(src='../images/sprite/icon_gulet.svg', alt='Gulet')
          a(href="#") Gulet