block section
  div.main-photo
    block main-photo
      | Main yacht picture
  section#center
    .main-text
      h1 
        block title
          | The title
      ul#single-yacht-specs
        li
          span
            | charter:
          block single-yacht-price
            | price
        li
          span
            | length:
          block single-yacht-length
            | number
        li
          span
            | year of build:
          block single-yacht-build
            | year
        li
          span
            | guests:
          block single-yacht-guests
            | number

    block explain-call
      p.call-to-action
        block explain-call-text
          | Call to action text
    .clear
    block call-to-action
      | bottone CTA
