block section
  div.main-photo
    block main-photo
      div(class="img-holder", data-image="/images/landing/alaska.jpg")
        
    section.center
      div#plain-color-background
        div#container-other-specs
          .main-text
            h1 
              block title
                | The title
          .clear
          ul#single-yacht-specs
            li
              span
                | charter:
              block single-exp-price
                | price
            li
              span
                | guests:
              block single-exp-guests
                | number

          block explain-call
            p.call-to-action
              block explain-call-text
                | Call to action text
          .clear
          block call-to-action
            | bottone CTA
          .clear
          div#other-specs
            ul.other-specs-list
              h3
                | Specifications</br>—
              li
                span
                  | beam:
                | 12.90 m
              li
                span
                  | number of crew:
                | 20
              li
                span
                  | builder:
                | Peenewerft
              li
                span
                  | naval architect:
                | Kusch Yacht Agentur
              li
                span
                  | flag:
                | Bermuda
              li
                span
                  | hull construction:
                | Steel
              li
                span
                  | hull configuration:
                | Air conditioning, Deck Jacuzzi, Gym/exercise equipment, WiFi connection on board
            ul.other-specs-list
              h3
                | Accomodation</br>—
              li
                span
                  | number of cabins:
                | 12
              li
                span
                  | cabin configuration:
                | 6 Double, 6 Twin
            ul.other-specs-list
              h3
                | Equipment</br>—
              li
                span
                  | Engines:
                | 2 x Deutz SBV 12M 628 diesels developing 2,640 kW at 1,000 rpm
              li
                span
                  | Cruising speed:
                | 15
              li
                span
                  | Fuel consumption:
                | 850 Litres/Hr
          div#other-description
            div.description-info
              h2
                | Placeholder Title
              p
                | The 26 crewmembers maintain the absolute highest standards. They are courteous and friendly, immaculately uniformed, skilled in their jobs, and working around the clock to please the guests. Having 26 crew means that everything happens with stunning efficiency – when the yacht arrives at a deserted white sand beach, within a minute the dive room door is open and the swim platform deployed; the tenders, wave runners and sailing dinghies are lowered into the water; and the anchor is down. The crew will have prepared all the necessary items to set up a beach ‘haven’ and the chefs could have prepared a picnic. With so many people working as a highly motivated team… the fun can start sooner, and the guests can be as demanding as they like.
            div.description-info
              h2
                | Second Placeholder Title
              p
                | The Captain and Executive Officer’s professional input in researching and planning a cruise well in advance of the start; trouble free transfers to the yacht with crew meeting guests at the airport or hotel; stewardesses will unpack for the guests if they wish; cabins will be serviced every time guests leave them; turndowns revealing the fresh Egyptian cotton sheets will be done beautifully and at the ideal time; laundry will be done to a high standard and returned pressed within 24 hours; guests can be taken for ‘swim trips’ exploring local areas in the main tenders that are equipped with everything from cold champagne to a shower; stewardesses will run candlelit baths for guests on request; and service is available 24 hours a day – a party can run on till 6am and breakfast start at 8am, no problem.
              p
                | Where can guests enjoy this service? In the bar; on the pool deck; on the ‘funnel’ deck; on the aft deck; on the observation deck; in the main saloon; in the observation lounge; in one of the 8 cabins or two staterooms; in the dining room; in the gym; in the dive room; or in the ‘internet ready’ study.
              a.button(href="#contact-us-modal", rel="modal:open") Enquire





            