extends ./layouts/_general.jade
block menu
  include ./partials/_menu.jade
block body
  #onepage
    .section
      include partials/_bareboat_intro.jade
    .section
      include partials/_quote_bareboat.jade