<!DOCTYPE html>
<!--if lt IE 7html.no-js.lt-ie9.lt-ie8.lt-ie7(lang="en")  -->
<!--if IE 7html.no-js.lt-ie9.lt-ie8(lang="en")  -->
<!--if IE 8html.no-js.lt-ie9(lang="en")  --><!-- [if gt IE 8] <!-->

<html class="no-js" lang="en">
<!-- <![endif]-->

<head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <title></title>
    <meta content="" name="description">
    <meta content="width=device-width" name="viewport">
    <script>
<window class="brunch">= window.brunch || {};<\/window>
    </script>
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
</head>

<body>
	<section id="center">
        <ul id="anchor-menu">
            <li><a href="#">Sale & Purchase</a></li>
            <li><a href="#">Charter</a></li>
            <li><a href="#">Expeditions</a></li>
            <li><a href="#">Heritage</a></li>
        </ul>
		<div class="main-text">
			<h1>Expeditions</h1>
			<p>We believe that travelers don’t want to be passive tourists, so our expeditions foster active engagement.</p>
		</div>
        <div class="clear"></div>
        <a href="#" class="button">View All</a>
	</section>
</body>
</html>