extends ./layouts/_general.jade
block modals
      include ./partials/_enquire_modal.jade
      include ./partials/_contact_us_modal.jade
block external-scripts
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBl3hDHGkv8Ohrz_AY7vlWRNSB_W5Esa9M&sensor=false&extension=.js') 
  script(src="/maplabel.js") 
block menu 
  include ./partials/_menu.jade
block body
  #onepage
    div.main-photo
      block main-photo
        div(class="img-holder", data-image="/images/landing/oriz_expedition.jpg")
          section.center-parallax
            .section
              .filtro
              include partials/_expeditions_intro.jade





    //- div.bottom-spacer
    //- .section
    //-   include partials/_quote_expeditions.jade
    //- div.bottom-spacer
    //- .section.inner-map
    //-   include partials/_expeditions_map.jade