extends ./layouts/_general.jade
block body
  section#center
    include partials/_menu.jade
    .main-text
      h1 Expeditions
      p
        | We believe that travelers don&#8217;t want to be passive tourists, so our expeditions foster active engagement.
    .clear
    a.button(href="#") View All
