extends ./layouts/_general.jade
block vendor_css
block scripts
block menu
  include ./partials/_menu.jade
block body
  #onepage
    .section
      include partials/_expeditions_intro.jade
    .section
      include partials/_quote_expeditions.jade