extends ./layouts/_general.jade

block body
  #onepage
    block main-photo
      div(class="img-holder", data-image="/images/landing/fish.jpg")
        section.center-parallax
    .section
      include partials/_heritage_intro.jade
    script(src="/jquery.imageScroll.js")
    script
      $('.img-holder').imageScroll({coverRatio: 0.8,extraHeight: 0});
    div.bottom-spacer
    .section
      include partials/_27years_of_experience.jade
    div.bottom-spacer
    .section
      include partials/_quote_equinoxe_experience.jade
    div.bottom-spacer
    
