extends ./layouts/_general.jade
block vendor_css
block scripts
block menu
  include ./partials/_menu.jade
block body
  #onepage
    .section
      include partials/_heritage_intro.jade
    .section
      include partials/_27years_of_experience.jade
    .section
      include partials/_quote_equinoxe_experience.jade
    
