extends ./layouts/_general.jade
block menu
  a#simple-menu(href='#sidr') Menu
  include ./partials/_menu.jade
block body
  
  include ./partials/_side_menu.jade

  #onepage
    .section
      include partials/_home_landing.jade
      
    .section
      .slide
        include partials/_yacht_charter_intro.jade
      .slide
        include partials/_yacht_size.jade
      .slide
        include partials/_quote_charter.jade
      .slide
        include partials/_latest_yacht_charter.jade
    .section
      .slide
        include partials/_salepurchase_intro.jade
      .slide
        include partials/_how_to_choose.jade
      .slide
        include partials/_yacht_size.jade
      .slide
        include partials/_quote_salepurchase.jade
      .slide
        include partials/_latest_yacht_sale.jade
    .section
      .slide
        include partials/_expeditions_intro.jade
      .slide
        include partials/_quote_expeditions.jade
    .section
      .slide
        include partials/_heritage_intro.jade
      .slide
        include partials/_27years_of_experience.jade
      .slide
        include partials/_quote_equinoxe_experience.jade
    
