extends ./layouts/_general.jade
block menu
  include ./partials/_menu.jade
block body
  #onepage
    .section
      include partials/_home_landing.jade
    .section
      include partials/_27years_of_experience.jade
    .section
      .slide
        include partials/_yacht_charter_intro.jade
      .slide
        include partials/_yacht_size.jade
      .slide
        include partials/_quote_charter.jade
      .slide
        include partials/_latest_yacht_charter.jade
    .section
      .slide
        include partials/_salespurchase_intro.jade
      .slide
        include partials/_how_to_choose.jade
      .slide
        include partials/_yacht_size.jade
      .slide
        include partials/_quote_salepurchase.jade
      .slide
        include partials/_latest_yacht_sale.jade
    .section
      include partials/_expeditions_intro.jade
    .section
      .slide
        include partials/_heritage_intro.jade
      .slide
        include partials/_quote_equinoxe_experience.jade
    
