extends ./layouts/_general.jade
block menu
  include ./partials/_menu.jade
block body
  #onepage
    .section
      include partials/_home_landing.jade
    .section
      include partials/_yacht_charter_intro.jade
    .section
      include partials/_salespurchase_intro.jade
    .section
      include partials/_expeditions_intro.jade
    .section
      include partials/_heritage_intro.jade
