extends ./layouts/_general.jade
block modals  
  include ./partials/_enquire_modal.jade
block menu 
  include ./partials/_menu.jade
block body
  
  include ./partials/_side_menu.jade

  #onepage
    .section
      include partials/_home_landing.jade
      
    .section
      .slide#slide1
        include partials/_yacht_charter_intro.jade
      .slide#slide2
        include partials/_yacht_size.jade
      .slide#slide3
        include partials/_quote_charter.jade
      .slide#slide4
        include partials/_latest_yacht_charter.jade
    .section
      .slide#slide5
        include partials/_salepurchase_intro.jade
      .slide#slide6
        include partials/_how_to_choose.jade
      .slide#slide7
        include partials/_yacht_size.jade
      .slide#slide8
        include partials/_quote_salepurchase.jade
      .slide#slide9
        include partials/_latest_yacht_sale.jade
    .section
      .slide#slide10
        include partials/_expeditions_intro.jade
      .slide#slide11
        include partials/_quote_expeditions.jade
    .section
      .slide#slide12
        include partials/_bareboat_intro.jade
      .slide#slide13
        include partials/_quote_bareboat.jade
    .section
      .slide#slide14
        include partials/_heritage_intro.jade
      .slide#slide15
        include partials/_27years_of_experience.jade
      .slide#slide16
        include partials/_team.jade
      .slide#slide17
        include partials/_quote_equinoxe_experience.jade
   
