extends ./layouts/_general.jade
block body
  section#center
    include partials/_menu.jade
    .main-text.left
      h1.smaller2 Latest Yachts:</br>—
    .clear
    ul#latest-yachts
      li
        h2.main-title Artemide
        ul.vertical-list
          li
            | <span class="uppercase">Charter:</span> from € 400,00
          li
            | <span class="uppercase">Length:</span> 38.00 m
          li
            | <span class="uppercase">Built:</span> 2006
          li
            | <span class="uppercase">Guests:</span> 10
          .clear
        a.button(href="#") Discover
      li
        h2.main-title Diana
        ul.vertical-list
          li
            | <span class="uppercase">Charter:</span> from € 550,00
          li
            | <span class="uppercase">Length:</span> 40.00 m
          li
            | <span class="uppercase">Built:</span> 2008
          li
            | <span class="uppercase">Guests:</span> 12
          .clear
        a.button(href="#") Discover
      li
        h2.main-title Polar Star
        ul.vertical-list
          li
            | <span class="uppercase">Charter:</span> from € 600,00
          li
            | <span class="uppercase">Length:</span> 43.00 m
          li
            | <span class="uppercase">Built:</span> 2007
          li
            | <span class="uppercase">Guests:</span> 15
          .clear
        a.button(href="#") Discover
  ul#latest-yachts-imgbackground
    li#artemide
    li#diana
    li#polar-star
