extends ./layouts/_general.jade
block body
  section#center
    include partials/_menu.jade
    .quote
      p
        | "I can't change the direction of the wind, but I can adjust my sails to always reach my destination."
      p.author
        | Jimmy Dean

