extends ./layouts/_general.jade
block body
  #onepage
    block main-photo
      div(class="img-holder", data-image="/images/landing/detailboat.jpg")
        section.center-parallax
    .section
      include partials/_services_intro.jade
    .section
      include partials/_services_bulletlist.jade
    div.bottom-spacer

    