extends ./layouts/_general.jade
block body
  #onepage
    
    include ./partials/_exp_alaska.jade
    
    .section
      .slide#slide_se_1
        include partials/_single_expedition_gallery.jade
      .slide#slide_se_2
        include partials/_single_expedition_gallery.jade
      .slide#slide_se_3
        include partials/_single_expedition_gallery.jade
      .slide#slide_se_4
        include partials/_single_expedition_gallery.jade
