extends ./layouts/_general.jade

block vendor_css

block body
  #onepage
    .section
      include ./partials/_maltesefalcon_yacht.jade
    script(src="/jquery.imageScroll.js")
    script
      $('.img-holder').imageScroll({coverRatio: 0.8,extraHeight: 0});