extends ./layouts/_general.jade
block body
  #onepage
    
    include ./partials/_maltesefalcon_yacht.jade
    script(src="/jquery.imageScroll.js")
    script
        $('.img-holder').imageScroll({coverRatio: 0.8,extraHeight: 0});
    .section
      .slide#slide1
        include partials/_single_yacht_interiors.jade
      .slide#slide2
        include partials/_single_yacht_interiors.jade
      .slide#slide3
        include partials/_single_yacht_interiors.jade
      .slide#slide4
        include partials/_single_yacht_interiors.jade
