extends ./layouts/_general.jade
block body
  #onepage
    
    include ./partials/_maltesefalcon_yacht.jade
    
    .section
      .slide#slide_sy_1
        include partials/_single_yacht_interiors.jade
      .slide#slide_sy_2
        include partials/_single_yacht_interiors.jade
      .slide#slide_sy_3
        include partials/_single_yacht_interiors.jade
      .slide#slide_sy_4
        include partials/_single_yacht_interiors.jade
    .section
      .slide#slide_sy_5
        include partials/_single_yacht_exteriors.jade
      .slide#slide_sy_6
        include partials/_single_yacht_exteriors.jade
      .slide#slide_sy_7
        include partials/_single_yacht_exteriors.jade
      .slide#slide_sy_8
        include partials/_single_yacht_exteriors.jade
  script(src="/jquery.imageScroll.js")
  script
        $('.img-holder').imageScroll({coverRatio: 0.8,extraHeight: 0});