extends ./layouts/_general.jade
block body
  #onepage
    
    include ./partials/_maltesefalcon_yacht.jade
    script(src="/jquery.imageScroll.js")
    script
        $('.img-holder').imageScroll({coverRatio: 0.8,extraHeight: 0});
    .section
      .slide#slide15
        include partials/_single_yacht_interiors.jade
      .slide#slide16
        include partials/_single_yacht_interiors.jade
      .slide#slide17
        include partials/_single_yacht_interiors.jade
      .slide#slide18
        include partials/_single_yacht_interiors.jade
    .section
      .slide#slide19
        include partials/_single_yacht_exteriors.jade
      .slide#slide20
        include partials/_single_yacht_exteriors.jade
      .slide#slide21
        include partials/_single_yacht_exteriors.jade
      .slide#slide22
        include partials/_single_yacht_exteriors.jade
