extends ./layouts/_general.jade

block body
  section#center
    include partials/_menu.jade
    .main-text
      h1 Yacht Charter
      p
        | Aboard all of our luxurious charter yachts, from the performance sailing yachts to the new breed of charter megayachts, there is more on offer than mouth-watering cuisine, exemplary service, diverse destinations and world-class accommodation.
    p.call-to-action
        | Choose your lifestyle:
    .clear
    block call-to-action
      ul#call-to-action-menu
        li
          img.motor(src='../images/sprite/icon_motor.svg', alt='Motor')
          a(href="#") Motor
        li
          img.sail(src='../images/sprite/icon_sail.svg', alt='Sail')
          a(href="#") Sail
        li
          img.gulet(src='../images/sprite/icon_gulet.svg', alt='Gulet')
          a(href="#") Gulet