extends ./layouts/_general.jade

block vendor_css
block scripts
block modals
block menu
  #landing-menu.subMenu
    a#simple-menu(href='#sidr') Menu
block body
  #onepage
    .section
      include ./partials/_yachts_grid.jade