extends ./layouts/_general.jade
block body
  #onepage(data-anchor="sale-purchase")
    block main-photo
      div(class="img-holder", data-image="/images/landing/detailboat.jpg")
        section.center-parallax
    .section
      include partials/_yacht_purchase_intro.jade
    script(src="/jquery.imageScroll.js")
    script
      $('.img-holder').imageScroll({coverRatio: 0.8,extraHeight: 0});
    div.bottom-spacer
    .section
      include partials/_quote_purchase.jade
    div.bottom-spacer