extends ./layouts/_general.jade
block modals
      include ./partials/_enquire_modal.jade
      include ./partials/_contact_us_modal.jade
block body
  #onepage
    block main-photo
      div(class="img-holder", data-image="/images/landing/detailboat.jpg")
        section.center-parallax
    .section
      include partials/_yacht_brokerage_intro.jade
    .section
      include partials/_brokerage_bulletlist.jade
    div.bottom-spacer
    .section
      include partials/_quote_brokerage.jade
    div.bottom-spacer