.section
  include ../partials/_home_landing.jade
//- .section
//-   .slide#slide1
//-     include ../partials/_yacht_charter_intro.jade
//-   //- .slide#slide3
//-   //-   include ../partials/_quote_charter.jade
//-   .slide#slide2a.mobile-slide
//-     include ../partials/_yacht_size_mobileA.jade
//-   .slide#slide2b.mobile-slide
//-     include ../partials/_yacht_size_mobileB.jade
//-   .slide#slide2c.mobile-slide
//-     include ../partials/_yacht_size_mobileC.jade
//-   .slide
//-     include ../partials/_charter_map.jade
//-   .slide#slide4
//-     include ../partials/_latest_yacht_charter.jade
//- .section
//-   .slide#slide5
//-     include ../partials/_salepurchase_intro.jade
//-   .slide#slide6
//-     include ../partials/_how_to_choose.jade
//-   .slide#slide6a.mobile-slide
//-     include ../partials/_yacht_size_mobileA.jade
//-   .slide#slide6b.mobile-slide
//-     include ../partials/_yacht_size_mobileB.jade
//-   .slide#slide6c.mobile-slide
//-     include ../partials/_yacht_size_mobileC.jade
//-   //- .slide#slide8
//-   //-   include ../partials/_quote_salepurchase.jade
//-   .slide#slide9
//-     include ../partials/_latest_yacht_sale.jade
//- .section
//-   .slide#slide10
//-     include ../partials/_expeditions_intro.jade
//-   //- .slide#slide11
//-   //-   include ../partials/_quote_expeditions.jade
//-   .slide#slide
//-     include ../partials/_expeditions_map.jade
//- .section
//-   .slide#slide12
//-     include ../partials/_bareboat_intro.jade
//-   .slide#slide13
//-     include ../partials/_quote_bareboat.jade
//- .section
//-   .slide#slide14
//-     include ../partials/_heritage_intro.jade
//-   .slide#slide15
//-     include ../partials/_27years_of_experience.jade
//-   .slide#slide16
//-     include ../partials/_team.jade
//-   //- .slide#slide17
//-   //-   include ../partials/_quote_equinoxe_experience.jade
//-   .slide#slide18
//-     img#office(src='https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=roadmap&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318&markers=color:red%7Clabel:C%7C40.718217,-73.998284', alt='office')




