.slide#slide2a.mobile-slide
  include ../partials/_yacht_size_mobileA.jade
.slide#slide2b.mobile-slide
  include ../partials/_yacht_size_mobileB.jade
.slide#slide2c.mobile-slide
  include ../partials/_yacht_size_mobileC.jade