@import url('http://fonts.googleapis.com/css?family=Alegreya+Sans')


// http://paulirish.com/2012/box-sizing-border-box-ftw/
* { box-sizing: border-box; }

html,
body
    height 100%
    width 100%

body,
input
    font-family "Alegreya Sans", "Helvetica Neue", sans-serif
    font-weight 300
    text-rendering optimizeLegibility
    .center
    	max-width 1400px
    	margin 0 auto
    	position relative
