@import '_base'
section#center
	background grey
	h1, p
		// color white
	h1
	    font-weight bold
	    font-size 115px
	    line-height 115px
	    margin 0 0 12px 0
	p
	    font-weight regular
	    font-size 26px
	    line-height 31px
	    margin 0
	div.main-text
		column(6/12)
		shift(2/12)
		background yellow